<br>

<br>

<hr>
<footer>
    <section class="row">
        <article class="col-12">
            <h2 class="text-center"><i>Con</i> ayuda de:</h2>
        </article>
        <article class="col-12 col-md-6 text-center">
            <div class="logo-container">
                <img
                    class="img-fluid"
                    src="/images/nasalogo.png"
                    alt="Logo NASA">
            </div>
        </article>
        <article class="col-12 col-md-6 text-center">
            <div class="logo-container">
                <img
                    class="img-fluid"
                    src="/images/logoesa.png"
                    alt="Logo ESA">
            </div>
        </article>
    </section>
    <hr>
    <small class="text-center d-block">
        Proyecto final para la clase de Programación 1 de 
        <a href="https://jonmircha.com/" target="_blank"><b>Jonathan MirCha</b></a> hecho con 
        <a href="https://www.11ty.dev" target="_blank"><b><i>11ty</i></b></a> y 
        <a href="https://getbootstrap.com/" target="_blank"><b><i>Bootstrap</i></b></a>.
    </small>
</footer>
