<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Logo y nombre del sitio -->
      <a class="navbar-brand" href="/">
        <img src="/Before-Us/images/logo.jpeg" alt="Logo" width="50" height="50">
        Before Us
      </a>

      <!-- Botón para dispositivos móviles -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces de navegación -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- Enlace a la página principal -->
          <li class="nav-item">
            <a class="nav-link" href="/Before-Us/index">🌟 Inicio</a>
          </li>
          <!-- Enlace a "Acerca" -->
          <li class="nav-item">
            <a class="nav-link" href="/Before-Us/acerca/">🌟 Acerca</a>
          </li>
          <!-- Enlace a "Artículos" -->
          <li class="nav-item">
            <a class="nav-link" href="/Before-Us/articulos/">🌟 Artículos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
