---
layout: layout-page.njk
title: Acerca del Proyecto
description: Información acerca del creador del proyecto, su propósito y el tema de la wiki.
permalink: "/acerca/"
---
<head>

 <link rel="stylesheet" href="/css/style.css">
</head>
<h1>{{ title }}</h1>

<p class="container">
  <h3 class="text-justify">
       Bienvenido a mi <i>wiki</i> creada por Iliusi Reyna como un proyecto final de la clase de Programación I.
    <br>
    <br>
    Una <i>wiki</i> dedicada a explorar los misterios y maravillas de la historia del universo. Desde el instante del Big Bang hasta los eventos más recientes de nuestra existencia, este sitio busca ser un faro de conocimiento para todos los apasionados de la ciencia, la historia cósmica y la evolución de la vida.
    <br>
    <br>
    Los artículos que se encuentran en la página son los siguientes:
    <div class="white-links">
      
      <li>
        ★  <a href="/Inicio de todo"> Inicio de todo</a>
      </li>
      <li>
        ★  <a href="/Inflacion cosmica">  Inflacion Cosmica</a>
      </li>
      <li>
        ★  <a href="/Fondo de Microondas"> Fondo de Microondas</a>
      </li>
      <li>
        ★  <a href="/Quark-y-Leptones">Quark y Leptones</a>
      </li>
      <li>
        ★  <a href="/Materia-Oscura">La Materia Oscura</a>
      </li>
      <li>
        ★  <a href="/Atomos">Atomos</a>
      </li>
      <li>
        ★  <a href="/Galaxias">Galaxias</a>
      </li>
      <li>
        ★  <a href="/Agujeros-Negros">Agujeros Negros</a>
      </li>
      <li>
        ★  <a href="/Fisica-Clasica">Fisica Clasica</a>
      </li>
      <li>
        ★  <a href="/Fisica-Quantica">Fisca Cuantica</a>
      </li>
      <li>
        ★  <a href="/Sistema-Solar">Sistema Solar</a>
      </li>
      <li>
        ★  <a href="/Planeta-Tierra">Planeta Tierra</a>
      </li>
      <li>
        ★  <a href="/¿Por-que-la-Tierra-es-habitable">¿Por que la Tierra es habitable? </a>
      </li>
      <li>
        ★  <a href="/Vida-en-la-Tierra">¿Como se creo la vida en la Tierra?</a>
      </li>
      <li>
        ★  <a href="/Evolucion-de-la-Vida">Evolucion de la Vida</a>
      </li>
      <li>
        ★  <a href="/Humanidad">La Humanidad</a>
      </li>
      <li>
        ★  <a href="/Exploracion-del-Universo">Exploracion del Universo</a>
      </li>
      <li>
        ★  <a href="/Extraterrestres">Extraterrestres</a>
      </li>
      <li>
        ★  <a href="/Multiverso">El Multiverso</a>
      </li>
      <li>
        ★  <a href="/Futuro-del-Universo">El Futuro del Universo</a>
      </li>
    </div>
   