---
layout: layout-page.njk
title: Acerca del Proyecto
description: Información acerca del creador del proyecto, su propósito y el tema de la wiki.
permalink: "/acerca/"
---
<h1>{{ title }}</h1>

<p class="container">
  <h3 class="text-justify">
       Bienvenido a mi <i>wiki</i> creada por Iliusi Reyna como un proyecto final de la clase de Programación I.
    <br><br>
    Una <i>wiki</i> dedicada a explorar los misterios y maravillas de la historia del universo. Desde el instante del Big Bang hasta los eventos más recientes de nuestra existencia, este sitio busca ser un faro de conocimiento para todos los apasionados de la ciencia, la historia cósmica y la evolución de la vida.
    <br><br>
    Los artículos que se encuentran en la página son los siguientes:
</p>

<ul class="white-links">
    <li>★ <a href="/Inicio de todo">Inicio de todo</a></li>
    <li>★ <a href="/Inflacion cosmica">Inflación Cósmica</a></li>
    <li>★ <a href="/Fondo de Microondas">Fondo de Microondas</a></li>
    <li>★ <a href="/Quark-y-Leptones">Quark y Leptones</a></li>
    <li>★ <a href="/Materia-Oscura">La Materia Oscura</a></li>
    <li>★ <a href="/Atomos">Átomos</a></li>
    <li>★ <a href="/Galaxias">Galaxias</a></li>
    <li>★ <a href="/Agujeros-Negros">Agujeros Negros</a></li>
    <li>★ <a href="/Fisica-Clasica">Física Clásica</a></li>
    <li>★ <a href="/Fisica-Quantica">Física Cuántica</a></li>
    <li>★ <a href="/Sistema-Solar">Sistema Solar</a></li>
    <li>★ <a href="/Planeta-Tierra">Planeta Tierra</a></li>
    <li>★ <a href="/¿Por-que-la-Tierra-es-habitable">¿Por qué la Tierra es habitable?</a></li>
    <li>★ <a href="/Vida-en-la-Tierra">¿Cómo se creó la vida en la Tierra?</a></li>
    <li>★ <a href="/Evolucion-de-la-Vida">Evolución de la Vida</a></li>
    <li>★ <a href="/Humanidad">La Humanidad</a></li>
    <li>★ <a href="/Exploracion-de-Universo">Exploración del Universo</a></li>
    <li>★ <a href="/Extraterrestres">Extraterrestres</a></li>
    <li>★ <a href="/Multiverso">El Multiverso</a></li>
    <li>★ <a href="/Futuro-del-Universo">El Futuro del Universo</a></li>
</ul>
