---
layout: layout-page.njk
title: Search
permalink: "/search.json"
---

[
  {% for article in collections.articulo %} 
    { 
      "title":"{{ article.data.title }}", 
     "url":"{{ article.url | url }}",
      "content": {{ article.templateContent | dump | safe }}
    }
  {% if loop.last == false %},{% endif %} {% endfor %}
]